#button1{
    position: fixed;
    left: 10px;
    top: 10px;
    width: 100px;
    height: 40px;
    background-color: #323232;
    cursor: pointer
}

#button2{
    position: fixed;
    left: 135px;
    top: 10px;
    width: 100px;
    height: 40px;
    background-color: #323232;
    cursor: pointer
}

#button3{
    position: fixed;
    left: 260px;
    top: 10px;
    width: 100px;
    height: 40px;
    background-color: #323232;
    cursor: pointer
}

#button4{
    position: fixed;
    left: 385px;
    top: 10px;
    width: 100px;
    height: 40px;
    background-color: #323232;
    cursor: pointer
}

#button5{
    position: fixed;
    left: 510px;
    top: 10px;
    width: 100px;
    height: 40px;
    background-color: #323232;
    cursor: pointer
}

#bar{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 1920px;
    height:60px;
    background-color: #969696;
}